<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.exam.entranceinew">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.GlobalClass"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ShopHopAppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">


        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/ShopHopAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.usersection.SplashScreen"
            android:theme="@style/ShopHopAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.usersection.LoginScreen"
            android:theme="@style/ShopHopAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity android:name=".ui.activity.usersection.Signup2"
            android:theme="@style/ShopHopAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity android:name=".ui.activity.usersection.Signup1"
            android:theme="@style/ShopHopAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity android:name=".ui.activity.usersection.Signup3"
            android:theme="@style/ShopHopAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity android:name=".ui.activity.usersection.ForgotPasswordScreen"
            android:theme="@style/ShopHopAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity android:name=".ui.activity.usersection.ResetPasswordScreen"
            android:theme="@style/ShopHopAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity android:name=".ui.activity.usersection.ChangePasswordScreen"
            android:theme="@style/ShopHopAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity android:name=".ui.activity.studynotes.StudyNotesScreen"
            android:theme="@style/ShopHopAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity android:name=".ui.activity.studynotes.ChaptersScreen"
            android:theme="@style/ShopHopAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity android:name=".ui.activity.studynotes.SubChaptersScreen"
            android:theme="@style/ShopHopAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity android:name=".ui.activity.studynotes.SubChaptersContent"
            android:theme="@style/ShopHopAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity android:name=".ui.activity.referencebook.ReferenceBookScreen"
            android:theme="@style/ShopHopAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity android:name=".ui.activity.referencebook.BookSectionActivity"
            android:theme="@style/ShopHopAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity android:name=".ui.activity.onlinetest.ExamActivity"
            android:theme="@style/ShopHopAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity android:name=".ui.activity.onlinetest.ReportActivity"
            android:theme="@style/ShopHopAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity android:name=".ui.activity.referencebook.SectionListActivity"
            android:theme="@style/ShopHopAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity android:name=".ui.activity.onlinetest.TestActivity"
            android:theme="@style/ShopHopAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity android:name=".ui.activity.onlinetest.InstructionActivity"
            android:theme="@style/ShopHopAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity android:name=".ui.activity.NCERTSolution"
            android:theme="@style/ShopHopAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity android:name=".ui.activity.NcertChapters"
            android:theme="@style/ShopHopAppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

    </application>

</manifest>